apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: optimus-worker-rust-scaler
  namespace: optimus
  labels:
    language: rust
spec:
  scaleTargetRef:
    name: optimus-worker-rust  # Target language-specific deployment
  minReplicaCount: 0
  maxReplicaCount: 50
  pollingInterval: 10
  cooldownPeriod: 60
  triggers:
    - type: redis
      metadata:
        address: redis:6379
        listName: optimus:queue:rust
        listLength: "1"
        enableTLS: "false"
